body{
    background-color: #f6f8f9;

}

.inline-block{
    display: inline-block;
    margin-top: 2px;
}

.container{
    margin-left: 15%;
}

.content{
    background-color: white;
    width: 800px;
    height: 800px;
    margin-top: 2rem;

}

button{
    padding-top: 2rem; 
}

#site-header{
    background-color: white;
}